$color-text-base: #A1AEB7;
$size-text-base: 14px;
$size-text-bigger: 16px;

footer {
  padding-bottom: 15px;
  background-color: #11355C;
  color: $color-text-base;
  font-size: 14px;
  border-top: 1px solid white;
  padding-top: 52px;

  .n-row {
    margin-bottom: 73px;
  }

  .n-col {
    width: 1 / 3 * 50%;
    position: relative;
    float: left;
    min-height: 1px;
    padding: 0;
  }

  .logo-container {
    width: 50%;
    text-align: center;
    padding: 0;
  }

  .logo {
    width: 250px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
    margin-top: 50px;
  }

  .heading-footer {
    color: #3CBA8D;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin: 36px 0 11px 0;
  }

  .nav-item {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
    color: $color-text-base;
    line-height: 21px;
    text-decoration: none;
  }

  .rights {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    font-family: Inconsolata, monospace;
    text-align: center;
  }

  @media (max-width: 991px) {
    footer {
      padding-right: 30px;
      padding-left: 30px;
    }

  }

  @media (max-width: 767px) {
    .n-row {
      margin-left: 0;
      margin-right: 0;
    }

    .n-col {
      width: 100%;
      left: auto;
      right: auto;
    }

    .heading-footer {
      text-indent: 0;
    }
  }

  @media (max-width: 479px) {
    .n-col {
      width: 100%;
    }

    .nav-item {
      margin-right: 30px;
    }
  }
}
