header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6.25rem;
  max-width: 1440px;
  padding: 0 10.4%;
  font-size: 0.875rem;
  background: none;
  color: #FFF !important;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;

  a {
    color: inherit !important;
    font-size: inherit;
    opacity: 0.6;
  }

  .lngs {
    text-align: right;
    margin-right: -0.3rem;

    a {
      position: relative;
      height: 2rem;
      line-height: 2rem;
      padding: 0 16px 0 13px;
      font-size: 0.75rem;
      text-transform: none;
    }

    a:not(:last-child) {
      border-right: 1px solid currentColor;
      // position: absolute;
      // top: 0;
      // right: -15px;
      // content: '|';
      // display: inline-block;
    }
  }

  .navs {
    height: 4.375rem;
    line-height: 4.375rem;
    text-align: right;
    font-size: inherit;

    a:not(:first-of-type) {
      margin-left: 2.1rem;
    }

    .logo {
      float: left;
      justify-self: flex-start;
    }
  }

  .header_logo {
    height: 3.75rem;
  }

  .join-telegram {
    display: inline-block;
    height: 1.875rem;
    line-height: 1.875rem;
    background: none;
    border-radius: 15px;
    margin-left: 70px;
    border: 1px solid #fff;
    text-align: center;
    box-sizing: content-box;
    padding: 0 1.5rem;
  }
}
