.subscription {
  padding-top: 224px;
  padding-bottom: 118px;
  background-color: #11355c;

  .title {
    text-align: center;
    color: #47ca94;
    font-size: 130px;
    line-height: 64px;
    white-space: nowrap;
    font-weight: normal;
    font-family: BebasNeue-Regular;
    margin: 0 0 160px;
  }

  .form-block {
    white-space: nowrap;
    position: relative;
    width: 567px;
    max-width: 100%;
    margin: 0 auto 165px;
  }

  .form {
    text-align: center;
  }

  $input-height: 50px;

  .email-field {
    width: 100%;
    color: #fff;

    display: inline-block;
    padding: 0 1 / 2 * $input-height;
    font-size: 24px;
    line-height: 18px;
    background-color: #ffffff;
    background: transparent;
    vertical-align: top;
  }

  .submit-button {
    -webkit-appearance: button;
    background-color: #36cc92;

    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-family: Helvetica-Bold;

    display: inline-block;
    padding: 0 23px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0;

    position: absolute;
    right: 0;
    top: 0;
  }

  .email-field,
  .submit-button {
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    height: $input-height;
    border-radius: 1 / 2 * $input-height;
    &:focus {
      outline: none;
      border-color: #cccccc;
    }
  }

  .form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
  }

  .form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
  }

  .social-icons {
    text-align: center;
  }

  .icon-link {
    max-height: 100%;
    margin: 0 22px;
    display: inline-block;
    img {
      max-height: 33px;
    }
  }

  @media (max-width: 1024px) {
    $w: 100vw / 1024;
    $input-height: 50 * $w;

    .title {
      font-size: 130 * $w;
    }
  }

  @media (max-width: 600px) {
    $w: 100vw / 600;
    $input-height: 50 * $w;

    .form-block {
      width: 567 * $w;
    }

    .email-field {
      font-size: 24 * $w;
      padding: 0 1 / 2 * $input-height;
    }

    .submit-button {
      font-size: 18 * $w;
      padding: 0 23 * $w;
    }

    .email-field,
    .submit-button {
      height: $input-height;
      border-radius: 1 / 2 * $input-height;
    }

    .icon-link {
      margin: 0 22 * $w;
      img {
        max-height: 35 * $w;
      }
    }
  }
}
