<header>
  <div class="navs">
    <% [
      t_data.header.menu.overview,
      t_data.header.menu.team,
      t_data.header.menu.roadmap,
      t_data.header.menu.blog,
      t_data.header.menu.github
    ].each do |nav| %>
      <%= link_to nav[:name], nav[:link], target: "_blank" %>
    <% end %>
  </div>
  <%= link_to t_data.header.telegram.name, t_data.header.telegram.link, class: "join-telegram"%>

</header>

