<div class="slide">
  <h1><%= t_data.slides.layers.title %></h1>
  <%= link_to t_data.slides.layers.nav.name, t_data.slides.layers.nav.link, class: "slides_button" %>
  <%= image_tag image_path(t_data.slides.layers.image_path), style: "margin-bottom: 48px" %>
  <p style="margin-bottom: 147px"><%= t_data.slides.layers.content %></p>
</div>
