<div class="slide">
  <h1><%= t_data.slides.scalability.title %></h1>
  <p class="desc"><%= t_data.slides.scalability.content %></p>
  <%= image_tag image_path(t_data.slides.scalability.image_path), style: "margin-bottom: 81px" %>
</div>
