<div class="slide">
  <h1><%= t_data.slides.solutions.title %></h1>
  <p class="desc"><%= t_data.slides.solutions.content %></p>
  <%= image_tag image_path(t_data.slides.solutions.image_path), style: "margin-bottom: 106px" %>
</div>
