.homepage_cover {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  z-index: -1;
  color: #FFF;

  a {
    color: #FFF;
  }

  video {
    display: block;
  }

  .cover_navs {
    text-align: center;

    a {
      font-size: 1.25rem;
      display: inline-block;
      height: 3.875rem;
      line-height: 3.875rem;
      box-sizing: border-box;
      color: #4BBC8E;
      border: 2px solid currentColor;
      background: none;
      padding: 0 2.865vw;
      margin: 0 1.25vw;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .cover_desc {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 2.638vw auto 4.02vw;
    letter-spacing: 1px;
  }

  .cover_content {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 10.4vw;
    text-align: center;
  }

  .cover_logo {
    height: 18.2vw;
  }

  .homepage_video {
    object-fit: cover;
    width: 100%;
  }
}
